<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
       xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:include="layout :: htmlhead" th:with="title='计划与进程看板'" ></head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <!--头-->
    <div th:replace="fragments/head :: header"></div>

    <div class="layui-body">
        <form id="workStationSearch" class="layui-form layui-form-pane" method="post" action="" style="margin-top: 20px;">
            <div class="layui-form-item">
                <label class="layui-form-label">客户</label>
                <div class="layui-input-inline">
                    <input id="ucuscode" name="ucuscode" autocomplete="off" class="layui-input" type="text"/>
                </div>
                <label class="layui-form-label">车间号</label>
                <div class="layui-input-inline">
                    <input id="uworkshop" name="uworkshop" autocomplete="off" class="layui-input" type="text" onkeyup="this.value=this.value.replace(/\D/g,'')"
                           onafterpaste="this.value=this.value.replace(/\D/g,'')"/>
                </div>
                <label class="layui-form-label">产品号</label>
                <div class="layui-input-inline">
                    <input id="uinvcode" name="uinvcode" autocomplete="off" class="layui-input" type="text" onkeyup="this.value=this.value.replace(/\D/g,'')"
                           onafterpaste="this.value=this.value.replace(/\D/g,'')"/>
                </div>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                <button class="layui-btn"  lay-submit="" lay-filter="searchSubmit">提交</button>
            </div>
        </form>

        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 3%">
            <legend style="margin-left: 45%"><span style="font-weight: bold;font-size:30px;">计划与进程看板</span></legend>
        </fieldset>
        <div class="layui-row">
            <div class="layui-col-md11">
                <div class="grid-demo"></div>
            </div>
            <div class="layui-col-md1">
                <div class="grid-demo">当前时间</div>
            </div>
        </div>
        <table id="planProcessList" lay-filter="planProcessTable"></table>
    </div>

    <!--底部-->
    <div th:replace="fragments/footer :: footer"></div>
    <script src="/js/dateUtils.js"></script>
    <script src="/js/manufacture/planProcess.js"></script>
</div>
</body>
</html>