<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
       xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:include="layout :: htmlhead" th:with="title='工位看板'"></head>
<body class="layui-layout-body"  style="background-color: #191970;color:white">
<div class="layui-layout layui-layout-admin">
    <div id="top" style="display: none">
        <div th:replace="fragments/head :: header" ></div>
    </div>

    <div class="" style="margin:1%">
        <div class="layui-tab" lay-filter="quality">
            <ul class="layui-tab-title">
                <li class="layui-this" lay-id="11"  style="background-color: #191970;color:white">工作计划</li>
                <li class="layui-this" lay-id="startWork"  style="background-color: #191970;color:white">首检</li>
                <li class="layui-this" lay-id="endWork"  style="background-color: #191970;color:white">终检</li>
            </ul>

            <div class="layui-tab-content">
                <div class="layui-tab-item layui-show">
                    <div class="layui-col-md12">
                        <div class="layui-card">
                            <div class="layui-card-header"  style="background-color: #191970;color:white">本日工作计划</div>
                            <div class="layui-card-body"  style="background-color: #191970;color:white">
                                <table id="dailyWorkPlanList" lay-filter="dailyWorkPlanTable"></table>
                                <script type="text/html" id="optBar">
                                    {{#  if(!d.hasInspected){ }}
                                    <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="firstInspect">首检</a>
                                    {{#  } else { }}
                                    <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="firstInspectcancel">首检取消</a>
                                    {{#  } }}
                                    {{#  if(!d.hasEndInspected){ }}
                                        <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="endInspect">终检</a>
                                    {{#  } else { }}
                                        <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="endInspectCancel">终检取消</a>
                                    {{#  } }}
                                </script>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="layui-tab-item">
                    <div class="layui-col-md12">
                        <div class="layui-card">
                            <div class="layui-card-body"  style="background-color: #191970;color:white">
                                <div class="layui-row">
                                    <input id="prodPlanId" type="hidden" name="prodPlanId"/>
                                    <div class="layui-col-md1"  style="background-color: #191970;color:white">
                                        产品编码：
                                    </div>
                                    <div class="layui-col-md3" id="invCode"  style="background-color: #191970;color:white">

                                    </div>
                                    <div class="layui-col-md1"  style="background-color: #191970;color:white">
                                        产品名称：
                                    </div>
                                    <div class="layui-col-md3" id="invName"  style="background-color: #191970;color:white">

                                    </div>
                                    <div class="layui-col-md1"  style="background-color: #191970;color:white">
                                        规格型号：
                                    </div>
                                    <div class="layui-col-md3" id="invStd"  style="background-color: #191970;color:white">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="layui-col-md11" style="height: 900px">
                        <div class="layui-tab" lay-filter="firstCheck">
                            <ul class="layui-tab-title">
                                <li class="layui-this" lay-id="qualifiedInstruction1"  style="background-color: #191970;color:white">检验指导书</li>
                                <li class="layui-this" lay-id="qualifiedDrawing1"  style="background-color: #191970;color:white">检验图纸</li>
                            </ul>
                            <div class="layui-tab-content">
                                <div class="layui-tab-item layui-show">
                                    <div class="layui-col-md12">
                                        <div class="layui-card-body"  style="background-color: #191970;color:white">
                                            <input id="qualifiedInstruction1Path" type="hidden" name="qualifiedInstruction1Path"/>
                                            <div id="qualifiedInstruction1"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="layui-tab-item">
                                    <div class="layui-col-md12">
                                        <div class="layui-card-body"  style="background-color: #191970;color:white">
                                            <input id="qualifiedDrawing1Path" type="hidden" name="qualifiedDrawing1Path"/>
                                            <div id="qualifiedDrawing1"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="layui-col-md1" style="margin-top: 350px">
                        <div id="submit" >
                            <button class="" lay-submit="" lay-filter="firstInspectSubmit" id="firstInspectSubmit" style="font-size: 25px;padding: 15px 32px; background-color: #e7e7e7; color: black;" onclick="firstInspectSubmit()">首检确认</button>
                        </div>
                        <div id="submitCancel" style="margin-top: 10px; ">
                            <button class="" lay-submit="" lay-filter="firstInspectSubmit" id="firstInspectSubmitCancel" style="font-size: 25px;padding: 15px 32px; background-color: #e7e7e7; color: black;" onclick="firstInspectSubmitCancel()">首检确认取消</button>
                        </div>
                    </div>
                </div>

                <div class="layui-tab-item">
                    <div class="layui-col-md12">
                        <div class="layui-card">
                            <div class="layui-card-body"  style="background-color: #191970;color:white">
                                <div class="layui-row">
                                    <div class="layui-col-md1"  style="background-color: #191970;color:white">
                                        产品编码：
                                    </div>
                                    <div class="layui-col-md3" id="einvCode"  style="background-color: #191970;color:white">

                                    </div>
                                    <div class="layui-col-md1"  style="background-color: #191970;color:white">
                                        产品名称：
                                    </div>
                                    <div class="layui-col-md3" id="einvName"  style="background-color: #191970;color:white">

                                    </div>
                                    <div class="layui-col-md1"  style="background-color: #191970;color:white">
                                        规格型号：
                                    </div>
                                    <div class="layui-col-md3" id="einvStd"  style="background-color: #191970;color:white">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="layui-col-md11" style="height: 900px">
                        <div class="layui-tab" lay-filter="endCheck">
                            <ul class="layui-tab-title">
                                <li class="layui-this" lay-id="qualifiedInstruction2"  style="background-color: #191970;color:white">检验指导书</li>
                                <li class="layui-this" lay-id="qualifiedDrawing2"  style="background-color: #191970;color:white">检验图纸</li>
                            </ul>
                            <div class="layui-tab-content">
                                <div class="layui-tab-item layui-show">
                                    <div class="layui-col-md12">
                                        <div class="layui-card-body"  style="background-color: #191970;color:white">
                                            <input id="qualifiedInstruction2Path" type="hidden" name="qualifiedInstruction2Path"/>
                                            <div id="qualifiedInstruction2"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="layui-tab-item">
                                    <div class="layui-col-md12">


                                        <div class="layui-card-body"  style="background-color: #191970;color:white">
                                            <input id="qualifiedDrawing2Path" type="hidden" name="qualifiedDrawing2Path"/>
                                            <div id="qualifiedDrawing2"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="layui-col-md1" style="margin-top: 250px">
                        <div>
                            <label class="layui-form-label" style="margin-top: 10px; ">合格数量</label>
                            <div class="layui-input-inline">
                                <input id="FqualifiedQty" name="FqualifiedQty" autocomplete="off" class="layui-input" type="text"/>
                            </div>
                        </div>
                        <div>
                            <label class="layui-form-label" style="margin-top: 10px; ">不合格数量</label>
                            <div class="layui-input-inline">
                                <input id="FunqualifiedQty" name="FunqualifiedQty" autocomplete="off" class="layui-input" type="text"/>
                            </div>
                        </div>
                        <div id="submit2" style="margin-top: 10px; ">
                            <button class="" lay-submit="" lay-filter="firstInspectSubmit" id="endInspectSubmit" style="font-size: 25px;padding: 15px 32px; background-color: #e7e7e7; color: black;" onclick="endInspectSubmit()">终检确认</button>
                        </div>
                        <div id="submit2Cancel" style="margin-top: 10px; ">
                            <button class="" lay-submit="" lay-filter="firstInspectSubmit" id="endInspectSubmitCancel" style="font-size: 25px;padding: 15px 32px; background-color: #e7e7e7; color: black;" onclick="endInspectSubmitCancel()">终检确认取消</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>











    <!--底部-->
    <div style="display: none">
        <div th:replace="fragments/footer :: footer" id="foot" th:style="'display: none'"></div>
    </div>

    <script src="/js/dateUtils.js"></script>
    <script src="/js/manufacture/quality.js"></script>
    <script src="/pdfObject/pdfobject.js"></script>
    <script src="/js/fullscreen.js"></script>
    <style>
        .pdfobject-container { height: 40rem; border: 1rem solid rgba(0,0,0,.1); }
    </style>
</div>
</body>
</html>