<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
       xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:include="layout :: htmlhead" th:with="title='工位看板'"></head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <!--头-->
    <div th:replace="fragments/head :: header"></div>

    <div class="layui-body" style="margin: 1%">
        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 1px;">
            <legend id="workStationCode"></legend>
        </fieldset>
        <div class="layui-tab" lay-filter="demo">
            <ul class="layui-tab-title">
                <li class="layui-this" lay-id="11">工作计划</li>
                <li class="layui-this" lay-id="startWork">开工</li>
            </ul>
            <div class="layui-tab-content">
                <div class="layui-tab-item layui-show">
                    <div class="layui-col-md12">
                        <div class="layui-card">
                            <div class="layui-card-header">本日工作计划</div>
                            <div class="layui-card-body">
                                <table id="dailyWorkPlanList" lay-filter="dailyWorkPlanTable"></table>
                                <script type="text/html" id="optBar">
                                    {{#  if(d.hasInspected){ }}
                                    <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="start">开工</a>
                                    {{#  } }}
                                </script>
                            </div>
                        </div>
                    </div>

                    <div class="layui-col-md12">
                        <div class="layui-card">
                            <div class="layui-card-header">历史工作计划执行情况（一周内）</div>
                            <div class="layui-card-body">
                                <table id="weeklyWorkPlanList" lay-filter="weeklyWorkPlanTable"></table>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="layui-tab-item">
                    <div class="layui-col-md12">
                        <div class="layui-card">
                            <div class="layui-card-header">加工信息</div>
                            <div class="layui-card-body">
                                <div class="layui-row">
                                    <input id="prodPlanId" type="hidden" name="prodPlanId"/>
                                    <div class="layui-col-md1">
                                        姓名：
                                    </div>
                                    <div class="layui-col-md3" id="userName">
                                        张三
                                    </div>
                                    <div class="layui-col-md1">
                                        计划数量：
                                    </div>
                                    <div class="layui-col-md3" id="planQty">
                                        50
                                    </div>
                                    <div class="layui-col-md1">
                                        开工时间：
                                    </div>
                                    <div class="layui-col-md3" id="startTime">
                                        2018-11-21 08:20:13
                                    </div>
                                </div>
                                <div class="layui-row">
                                    <div class="layui-col-md1">
                                        产品：
                                    </div>
                                    <div class="layui-col-md3" id="invCode">
                                        00304001
                                    </div>
                                    <div class="layui-col-md1">
                                        工序：
                                    </div>
                                    <div class="layui-col-md3" id="procedureName">
                                        工序一
                                    </div>
                                    <div class="layui-col-md1">
                                        实际生产数量：
                                    </div>
                                    <div class="layui-col-md3" id="realQty">
                                        1
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="layui-col-md8" style="height: 800px">
                        <div class="layui-card">
                            <div class="layui-card-header">作业指导书</div>
                            <div class="layui-card-body">
                                <input id="pdfPath" type="hidden" name="pdfPath"/>
                                <div id="example1"></div>
                            </div>
                        </div>
                    </div>
                    <div class="layui-col-md12">
                        <div class="layui-card">
                            <div class="layui-card-body">
                                <div class="layui-row">
                                    <div class="layui-col-md3" style=" margin: 0;">
                                        <button class="layui-btn layui-btn-fluid" lay-submit="" lay-filter="qualitySubmit" id="qualitySubmit" onclick="qualitySubmit()">合格</button>
                                    </div>
                                    <div class="layui-col-md3" style=" margin: 0;">
                                        <button class="layui-btn layui-btn-fluid layui-btn-danger" lay-submit="" lay-filter="unqualitySubmit" id="unqualitySubmit" onclick="unqualitySubmit()">合格</button>
                                    </div>
                                    <div class="layui-col-md3">
                                        状态
                                    </div>
                                    <div class="layui-col-md3">
                                        欠产3个
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--底部-->
    <div th:replace="fragments/footer :: footer"></div>
    <script src="/js/dateUtils.js"></script>
    <script src="/js/manufacture/work.js"></script>
    <script src="/pdfObject/pdfobject.js"></script>
    <style>
        .pdfobject-container { height: 30rem; border: 1rem solid rgba(0,0,0,.1); }
    </style>
</div>
</body>
</html>